<img class="headerImage" src="/img/header.jpg" alt="a panorama image of gasworks park, looking south over south lake union. the day is sunny, the lake is calm, and the path lays at your feet">
</img>
<h1>
	<a href="{{ mainURL }}">Musings and Mumblings</a>
</h1>
