---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: blog
permalink: "tags/{{ tag | slugify }}/"
layout: main.liquid
---
<!-- This is the page that is generated for each tag.-->
<h1>Tagged “{{ tag }}”</h1>

<ul>
{% assign postList = collections[ tag ] %}
{% for post in postList %}
  <li><a href="{{ post.url.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>
